
<ul class='color-list'>
  <li class='black'>
    <span class='var'>$black</span>
    <span class='hex'></span>
  </li>
  <li class='white'>
    <span class='var'>$white</span>
    <span class='hex'></span>
  </li>
  <li class='gray-lighter'>
    <span class='var'>$gray-lighter</span>
    <span class='hex'></span>
  </li>
  <li class='gray-light'>
    <span class='var'>$gray-light</span>
    <span class='hex'></span>
  </li>
  <li class='gray'>
    <span class='var'>$gray</span>
    <span class='hex'></span>
  </li>
  <li class='gray-dark'>
    <span class='var'>$gray-dark</span>
    <span class='hex'></span>
  </li>
  <li class='color-light'>
    <span class='var'>$color-light</span>
    <span class='hex'></span>
  </li>
  <li class='color'>
    <span class='var'>$color</span>
    <span class='hex'></span>
  </li>
  <li class='color-dark'>
    <span class='var'>$color-dark</span>
    <span class='hex'></span>
  </li>
  <li class='highlight-light'>
    <span class='var'>$highlight-light</span>
    <span class='hex'></span>
  </li>
  <li class='highlight'>
    <span class='var'>$highlight</span>
    <span class='hex'></span>
  </li>
  <li class='highlight-dark'>
    <span class='var'>$highlight-dark</span>
    <span class='hex'></span>
  </li>
  <li class='alternate-light'>
    <span class='var'>$alternate-light</span>
    <span class='hex'></span>
  </li>
  <li class='alternate'>
    <span class='var'>$alternate</span>
    <span class='hex'></span>
  </li>
  <li class='alternate-dark'>
    <span class='var'>$alternate-dark</span>
    <span class='hex'></span>
  </li>
</ul>
