
<ul class='menu'>
  <li>
    {{#link-to 'application'}}
      <span>Welcome</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'style-guide'}}
      <span>Style-guide</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'code-style'}}
      <span>Code style</span>
    {{/link-to}}
  </li>
</ul>
