
<figure class='poster'>
	<img class='image'
		src='https://placehold.it/90x130'
		data-src={{generatedImage}}
		alt='$seo-todo'
	/>
</figure>

<footer>
	<h3 class='title'>{{media.name}}</h3>
</footer>
