/*
break-points

base these on when things get ugly
and not any 'ipad' device specific stuff...
*/

$bp-1 = 400px
$bp-2 = 700px
$bp-3 = 1000px
$bp-4 = 1300px
$bp-5 = 1700px
$bp-6 = 2100px
$bp-7 = 2400px
$bp-8 = 2700px
$bp-9 = 3000px

$break-point-1 = 'screen and (min-width: $bp-1)'
$break-point-2 = 'screen and (min-width: $bp-2)'
$break-point-3 = 'screen and (min-width: $bp-3)'
$break-point-4 = 'screen and (min-width: $bp-4)'
$break-point-5 = 'screen and (min-width: $bp-5)'
$break-point-6 = 'screen and (min-width: $bp-6)'
$break-point-7 = 'screen and (min-width: $bp-7)'
$break-point-8 = 'screen and (min-width: $bp-8)'
$break-point-9 = 'screen and (min-width: $bp-9)'

$bp-1-2 = $bp-2 - 1px
$bp-2-3 = $bp-3 - 1px
$bp-3-4 = $bp-4 - 1px
$bp-4-5 = $bp-5 - 1px
$bp-5-6 = $bp-6 - 1px
$bp-6-7 = $bp-7 - 1px
$bp-7-8 = $bp-8 - 1px
$bp-8-9 = $bp-9 - 1px

$break-point-1-2 = 'screen and (min-width: $bp-1) and (max-width: $bp-1-2)'
$break-point-1-3 = 'screen and (min-width: $bp-1) and (max-width: $bp-2-3)'
$break-point-1-4 = 'screen and (min-width: $bp-1) and (max-width: $bp-3-4)'
$break-point-1-5 = 'screen and (min-width: $bp-1) and (max-width: $bp-4-5)'
$break-point-1-6 = 'screen and (min-width: $bp-1) and (max-width: $bp-5-6)'
$break-point-1-7 = 'screen and (min-width: $bp-1) and (max-width: $bp-6-7)'
$break-point-1-8 = 'screen and (min-width: $bp-1) and (max-width: $bp-7-8)'

$break-point-2-3 = 'screen and (min-width: $bp-2) and (max-width: $bp-2-3)'
$break-point-2-4 = 'screen and (min-width: $bp-2) and (max-width: $bp-3-4)'
$break-point-2-5 = 'screen and (min-width: $bp-2) and (max-width: $bp-4-5)'
$break-point-2-6 = 'screen and (min-width: $bp-2) and (max-width: $bp-5-6)'
$break-point-2-7 = 'screen and (min-width: $bp-2) and (max-width: $bp-6-7)'
$break-point-2-8 = 'screen and (min-width: $bp-2) and (max-width: $bp-7-8)'

$break-point-3-4 = 'screen and (min-width: $bp-3) and (max-width: $bp-3-4)'
$break-point-3-5 = 'screen and (min-width: $bp-3) and (max-width: $bp-4-5)'
$break-point-3-6 = 'screen and (min-width: $bp-3) and (max-width: $bp-5-6)'
$break-point-3-7 = 'screen and (min-width: $bp-3) and (max-width: $bp-6-7)'
$break-point-3-8 = 'screen and (min-width: $bp-3) and (max-width: $bp-7-8)'

$break-point-4-5 = 'screen and (min-width: $bp-4) and (max-width: $bp-4-5)'
$break-point-4-6 = 'screen and (min-width: $bp-4) and (max-width: $bp-5-6)'
$break-point-4-7 = 'screen and (min-width: $bp-4) and (max-width: $bp-6-7)'
$break-point-4-8 = 'screen and (min-width: $bp-4) and (max-width: $bp-7-8)'

$break-point-5-6 = 'screen and (min-width: $bp-5) and (max-width: $bp-5-6)'
$break-point-5-7 = 'screen and (min-width: $bp-5) and (max-width: $bp-6-7)'
$break-point-5-8 = 'screen and (min-width: $bp-5) and (max-width: $bp-7-8)'

$break-point-6-7 = 'screen and (min-width: $bp-6) and (max-width: $bp-6-7)'
$break-point-6-8 = 'screen and (min-width: $bp-6) and (max-width: $bp-7-8)'

$break-point-7-8 = 'screen and (min-width: $bp-7) and (max-width: $bp-7-8)'

$break-point-8-9 = 'screen and (min-width: $bp-8) and (max-width: $bp-8-9)' // ?
