
@import '_type-heirachy-helper'

break-point-helper = false
dev-mode = false

dev-outline($color)
  if dev-mode
    border: 1px solid $color

/*

// set temp wireframes true/false
wire-frames(wire-frames-on = false)
  if wire-frames-on
    border 1px solid rgba(0,0,0,.05)
    padding ($padding/2)
    .container
      margin-bottom $padding
      border 1px solid rgba(0,0,0,.1)

.container .etc // set temp frames to everything
  wire-frames()

*/

break-point-helper($size)
  relative()
  fixed()
  right: 0
  bottom: 0
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 $size $size;
  border-color: transparent transparent alpha($black, .5) transparent;
  display: none
  if break-point-helper
    display: block // $revisit
  span
    block()
    fixed()
    right: ($size/6)
    bottom: ($size/6)
    width: auto
    height: auto
    color: alpha($white, .6)
    &:after
      content: 'There is no need to see this'
      @media $break-point-1
        content: '1'
      @media $break-point-2
        content: '2'
      @media $break-point-3
        content: '3'
      @media $break-point-4
        content: '4'
      @media $break-point-5
        content: '5'

.break-point-helper
  break-point-helper(50px)
