
// The goal is to write 90% of your custom styles HERE
// $variables will of course be changed, but things like mixins should become robust enough
// Any mixins that are not used will be ignored on output, so no reason to worry about size
// Just use what you like. : )


// $global
body
  background: $color
  standard-type()
  color: $black

// p
//   standard-type()

a
  &:hover
    color: $alternate-dark

// $structure
.container
  relative()
  width: 100%
  float: left
  // border: $thick solid red

.inner-w
  max-width: $inner-w-width
  margin: 0 auto // horizontal center
  padding: $pad
  clear-floats()
  dev-outline($color)

// $header
.app-header
  background: $white
  h1
    large-type()
    medium-icons()
    balance-inline-block-children()

.main-menu
  //
  .menu
    //
    li
      display: inline-block
      margin-bottom: 0 // $revisit
    a
      display: block
      padding: $pad*.5 $pad $pad*.5 0  

p
  max-width: 800px

// $content
.editorial, .welcome // $revisit
  light-theme()
  header
    margin-bottom: $pad*2
  section
    margin-bottom: $pad*2
  h1
    extra-large-type()
    + p
      margin-top: $pad
  h2
    large-type()
    + p, + ul, + ol
      margin-top: $pad
  h3
    mono-type()
    font-weight: 700
  p
    max-width: 700px
    &:not(:last-of-type)
      margin-bottom: $pad
    // + h2
    //   margin-top: $pad*2
  ul
    //

// $footer
.app-footer
  background: $color
  color: $white
  min-height: 200px

.dev-mode
  *
    border: 3px solid red

.code-style
  light-theme()

h4
  color: $color

article
  h1
    extra-large-type()

.error-template
  background: red
  absolute-cover()

.loading-template
  background: orange
  absolute-cover()



reset-button()
  background: transparent
  border: 0
  margin: 0 // ?
  padding: 0
  appearance: none
  color: black
  font-familily: inherit // not working
  display: block
  user-select: none
  font: inherit
  // line-height: normal;
  overflow: visible // ?
  // text-decoration: none;
  // white-space: pre;
  //
  cursor: pointer
  // background: gray
  // color: black
  // font-size: 16px
  // padding: .25rem .5rem
  // min-width: 160px
  // text-align: center
  
  &:focus
    outline: 0
  &:hover
    color: inherit

.reset-button, [role='reset-button']
  reset-button()

.button, [role='button']
  reset-button()
  background: $white
  padding: $pad $pad*2
  border: $thick solid $highlight
  color: $highlight
  min-width: 200px
  text-align: center
  standard-type()
  uppercase()
  box-sizing: border-box
  font-size: 12px
  &:hover
    background: $highlight
    color: $white

.switch, [role='switch']
  reset-button()
  width: 44px
  height: 44px
  overflow: hidden
  border: 1px solid $gray
  color: $highlight
  .icon-x
    width: 100%
    height: 100%
  &:hover
    color: $highlight-dark
  
.switch-list
  li
    display: inline-block
    vertical-align: middle
    
