
header, section, footer
  width: 100%
  float: left
  
.container
  light-theme()

.loading-indicators
  // light-theme()

.type-layout
  // light-theme()

.font-families
  // light-theme()
  .heading-font
    .big
      font-family: $heading-font
      font-size: 40px
    .regular
      font-family: $heading-font
      font-size: 16px
  .body-font
    .big
      font-family: $body-font
      font-size: 40px
    .regular
      font-family: $body-font
      font-size: 16px
  .other-font
    .big
      font-family: $monotype
      font-size: 40px
    .regular
      font-family: $monotype
      font-size: 16px

.color-pallet
  // light-theme()

  // swatches
  .swatches
    padding-bottom: $pad*2
    div //
      width: 100%
      float: left
      padding: $pad*.5
      text-shadow: 0 0 1px alpha(white, .7)
      transition: .3s padding ease-in
      height: 60px
      line-height: 1.1
      @media $break-point-1
        padding: .6rem
        split-in(3)
      @media $break-point-2
        padding: .9rem
      @media $break-point-3
        split-in(6)
      &.black
        background: $black
      &.white
        background: $white
      &.gray-dark
        background: $gray-dark
      &.gray
        background: $gray
      &.gray-light
        background: $gray-light
      &.gray-lighter
        background: $gray-lighter
      &.color-light
        background: $color-light
      &.color
        background: $color
      &.color-dark
        background: $color-dark
      &.highlight-light
        background: $highlight-light
      &.highlight
        background: $highlight
      &.highlight-dark
        background: $highlight-dark
      &.alternate-light
        background: $alternate-light
      &.alternate
        background: $alternate
      &.alternate-dark
        background: $alternate-dark

.input-forms
  //

.component-patterns
  //
  .button-list
    li
      display: inline-block
    
.style-themes
  //

.light-theme
  light-theme()

.dark-theme
  dark-theme()

.color-theme
  color-theme()

.highlight-theme
  highlight-theme()

.alternate-theme
  alternate-theme()
