
// The goal is to write 90% of your custom styles HERE
// $variables will of course be changed, but things like mixins should become robust enough
// Any mixins that are not used will be ignored on output, so no reason to worry about size
// Just use what you like. : )


// $global
body
  background: $color
  color: $black
p
  standard-type()

// $structure
.inner-w
  max-width: $inner-w-width
  margin: 0 auto // horizontal center
  padding: $pad
  clear-floats()
  dev-outline($color)

// $header
.app-header
  background: $white
  h1
    large-type()

.main-menu
  //
  .menu
    //
    li
      display: inline-block
    a
      display: block
      padding: $pad*.5 $pad $pad*.5 0  

// $content
.content
  background: $gray-light
  color: $gray-dark
  header
    margin-bottom: $pad*2
  section
    margin-bottom: $pad*2
  h1
    extra-large-type()
    + p
      margin-top: $pad
  h2
    large-type()
    + p, + ul, + ol
      margin-top: $pad
  p
    max-width: 700px
    &:not(:last-of-type)
      margin-bottom: $pad
    + h2
      margin-top: $pad*2
  ul
    //

// $footer
.app-footer
  background: $color
  color: $white
