
// The goal is to write 90% of your custom styles HERE
// $variables will of course be changed, but things like mixins should become robust enough
// Any mixins that are not used will be ignored on output, so no reason to worry about size
// Just use what you like. : )


// $global
body
  background: $color
  standard-type()
  color: $black

a
  &:hover
    color: $highlight-dark

// $structure
.container
  relative()
  width: 100%
  float: left
  clear-floats()
  overflow: hidden
  // border: $thick solid red

section, header, main, footer
  clear-floats()

.inner-w
  max-width: 1100px
  margin: 0 auto // horizontal center
  padding: $pad
  clear-floats()
  dev-outline($color)

// $header
.app-header
  background: $white
  h1
    large-type()
    medium-icons()
    balance-inline-block-children()

.main-menu
  //
  .menu
    //
    li
      display: inline-block
      margin-bottom: 0 // $revisit
    a
      display: block
      padding: $pad*.5 $pad $pad*.5 0  

ul
  clear-floats() // $revisit

p
  max-width: 800px

responsive-image()
  img
    display: block
    width: 100%
    height: auto

styled-list()
  margin: 0
  padding: 0
  list-style: disc
  padding-left: $pad*2
  li
    margin-bottom: $pad

.included-packages-list
  styled-list()

.image-w
  responsive-image()

// $content
.editorial, .welcome // $revisit
  light-theme()
  header
    margin-bottom: $pad*2
  section
    margin-bottom: $pad*2
  h1
    extra-large-type()
    + p
      margin-top: $pad
  h2
    large-type()
    + p, + ul, + ol
      margin-top: $pad
  h3
    mono-type()
    font-weight: 700
  p
    max-width: 700px
    &:not(:last-of-type)
      margin-bottom: $pad
    // + h2
    //   margin-top: $pad*2
  ul
    //

.page-title
  strong-voice()

// $footer
.app-footer
  background: $color
  color: $white
  min-height: 200px

.dev-mode
  *
    border: 3px solid red

.code-style
  light-theme()

h4
  // color: $color

.included-packages-list
  h3
    statement()
    color: $highlight-dark
    
.welcome
  h4
    calm-voice()
    color: $color

article
  h1
    extra-large-type()

.error-template
  background: red
  absolute-cover()

.loading-template
  background: orange
  absolute-cover()
