
// base icons styles (fontastic.me)
[class^="icon-"], [class*=" icon-"]
  display: inline-block
  fill: currentColor

$standard-icon-size = 25px
.icon-x
  block-size($standard-icon-size)

// icon patterns
$extra-small-icon-size = 12px
extra-small-icons()
  .icon-x
    block-size($extra-small-icon-size)

$small-icon-size = 18px
small-icons()
  .icon-x
    block-size($small-icon-size)

standard-icons()
  .icon-x
    block-size($standard-icon-size)

$medium-icon-size = 35px
medium-icons()
  .icon-x
    block-size($medium-icon-size)

$large-icon-size = 60px
large-icons()
  .icon-x
    block-size($large-icon-size)

$extra-large-icon-size = 90px
extra-large-icons()
  .icon-x
    block-size($extra-large-icon-size)

.icon-x // if absolutly nessesary...
  &.extra-small
    block-size($extra-small-icon-size)
  &.small
    block-size($small-icon-size)
  &.medium
    block-size($medium-icon-size)
  &.large
    block-size($large-icon-size)
  &.extra-large
    block-size($extra-large-icon-size)
