
light-theme()
  background: $gray-lighter
  color: $black
  h1
    color: $color
  h2
    color: $color-dark
    
dark-theme()
  background: $black
  color: $white
  h1
    color: $highlight
  h2
    color: $alternate-light

color-theme()
  background: $color
  color: $white
  h1
    color: $white
  h2
    color: $alternate-light
    
highlight-theme()
  background: $highlight
  color: $black
  h1
    color: $white
  h2
    color: $alternate-light

alternate-theme()
  background: $alternate
  color: $black
  h1
    color: $alternate-dark
  h2
    color: $alternate-dark
