


small-type()
  font-size: 13px
  font-weight: light

standard-type()
  font-size: 16px
  font-weight: light

medium-type() // these should have purposeful names... and not denote visual size or style
  font-size: 20px
  font-weight: bold

large-type()
  font-size: 30px

extra-large-type()
  font-size: 40px
