
html
  user-select: none
  -webkit-tap-highlight-color: transparent
  *
    user-select: inherit
    -webkit-tap-highlight-color: inherit

input[type='text'], input[type='password'], textarea
  user-select: text


