
$black = #111
$white = #efefef

$gray         = lighten($black, 50%) // black split in half seems like a good starting point
$gray-light   = lighten($gray, 50%)
$gray-dark    = darken($gray, 50%)
$gray-lighter = lighten($gray-light, 50%)

$color       = #E46652
$color-light = lighten($color, 25%)
$color-dark  = darken($color, 25%)

$highlight       = #78CEC8
$highlight-light = lighten($highlight, 25%)
$highlight-dark  = darken($highlight, 25%)

$alternate       = #F8E7CF
$alternate-light = lighten($alternate, 25%)
$alternate-dark  = darken($alternate, 25%)

$inner-w-width = 1100px
$pad = .6rem

$thin  = 1px
$thick = 3px

/* previous thoughts...

// shade
shade($color, $percent)
  mix($black, $color, $percent)

// tint
tint($color, $percent)
  mix($white, $color, $percent)

// variations
$gray-light     = tint($gray, 50%)
$gray-dark      = shade($gray, 50%)
$gray-lighter   = tint($gray-light, 80%)

$color-light    = tint($color, 50%)
$color-dark     = shade($color, 50%)

$highlight-light  = tint($highlight, 50%)
$highlight-dark   = shade($highlight, 35%)

$alternate-light  = tint($alternate, 50%)
$alternate-dark   = shade($alternate, 35%)

*/
