
$black = #111
$white = #efefef

$gray         = lighten($black, 50%) // black split in half seems like a good starting point
$gray-light   = lighten($gray, 50%)
$gray-dark    = darken($gray, 50%)
$gray-lighter = lighten($gray-light, 50%)

$color       = #E46652
$color-light = lighten($color, 25%)
$color-dark  = darken($color, 25%)

$highlight       = #F8E7CF
$highlight-light = lighten($highlight, 25%)
$highlight-dark  = darken($highlight, 25%)

$alternate       = #78CEC8
$alternate-light = lighten($alternate, 25%)
$alternate-dark  = darken($alternate, 25%)

$body-font    = 'georgia'
$heading-font = 'helvetica'
$monotype     = 'monespace'

$inner-w-width = 1100px
$pad = .6rem

$thin-line  =  1px
$thick-line = 3px
