
<h1>Code style</h1>

<p>In general - Ember-wise, it's following Ember and Dockyard code-style as imposed by suave.</p>

<p>Template and Style sheet wise, I do a few things that you may not like. One of them is that I use 'single-quotes' for everything I can. I use double quotes for things like alert("Hey you") or when I want to be really really clear that this is string being printed or something. All other times–for attributes and all that stuff... I prefer the single quotes because I find if more readable and it takes 1 keystroke instead of 2. I'm not concerned in any way with file size at this point. I'm pro things like tabs because there is one less keystroke and because you can change their size relativly, and not because of the actual charicter.</p>

<p>The other thing I do, is leave a space at the begining and end of each style and template file. I don't like having the code budding up against the top or bottom. Purely visual. If there was a sublime plugin that added padding to the top and bottom, that would be just as good for me.</p>

<p>None of this should really effect you because you'll be deleting these files anyway and writing your own. This would only really matter if you started contributing.</p>

<p>Stylus. I know there is always the new and shiney - an there are reasons to use SCSS for adding CSS from other libraries - and I get it... but I don't want to write @import 400 times. If you don't like stylus, then this isn't really a project for you - or - maybe you can just dump that folder and use the npm skeleton for just Ember stuff. Maybe I can make that an option or something later.</p>
