
<header>
  {{#link-to 'style-guide.color-pallet'}}
    <h2 class='title'>color-pallet</h2>
  {{/link-to}}

  <p class='description'>Color is going to seperate the project from others and help solidify branding. Forms are probably more important, but many sites do not have them</p>
</header>

<main>
  <section class='container swatches'>
    <header>
      <h3>Colors</h3>
    </header>

    <main>
      <div class='black'>
        <span class='var'>$black</span>
        <span class='hex'></span>
      </div>
      <div class='white'>
        <span class='var'>$white</span>
        <span class='hex'></span>
      </div>
      <div class='gray-lighter'>
        <span class='var'>$gray-lighter</span>
        <span class='hex'></span>
      </div>
      <div class='gray-light'>
        <span class='var'>$gray-light</span>
        <span class='hex'></span>
      </div>
      <div class='gray'>
        <span class='var'>$gray</span>
        <span class='hex'></span>
      </div>
      <div class='gray-dark'>
        <span class='var'>$gray-dark</span>
        <span class='hex'></span>
      </div>
      <div class='color-light'>
        <span class='var'>$color-light</span>
        <span class='hex'></span>
      </div>
      <div class='color'>
        <span class='var'>$color</span>
        <span class='hex'></span>
      </div>
      <div class='color-dark'>
        <span class='var'>$color-dark</span>
        <span class='hex'></span>
      </div>
      <div class='highlight-light'>
        <span class='var'>$highlight-light</span>
        <span class='hex'></span>
      </div>
      <div class='highlight'>
        <span class='var'>$highlight</span>
        <span class='hex'></span>
      </div>
      <div class='highlight-dark'>
        <span class='var'>$highlight-dark</span>
        <span class='hex'></span>
      </div>
      <div class='alternate-light'>
        <span class='var'>$alternate-light</span>
        <span class='hex'></span>
      </div>
      <div class='alternate'>
        <span class='var'>$alternate</span>
        <span class='hex'></span>
      </div>
      <div class='alternate-dark'>
        <span class='var'>$alternate-dark</span>
        <span class='hex'></span>
      </div>
    </main>
  </section>

  <section class='container swatches'>
    <header>
      <h3>Textures</h3>
    </header>

    <main>
      <div class='texture color'>noise($color)</div>
      <div class='texture gray-light'>noise($gray-light)</div>
      <div class='texture highlight'>noise($highlight)</div>
    </main>
  </section>
</main>
