
<header>
  {{#link-to 'style-guide.color-pallet'}}
    <h2 class='title'>color-pallet</h2>
  {{/link-to}}

  <p class='description'>Color is going to seperate the project from others and help solidify branding. Forms are probably more important, but many sites do not have them</p>
</header>

<main>
  <section class='container swatches'>
    <header>
      <h3>Colors</h3>
    </header>

    <main>
      <div class='black'>$black</div>
      <div class='white'>$white</div>
      <div class='gray-lighter'>$gray-lighter</div>
      <div class='gray-light'>$gray-light</div>
      <div class='gray'>$gray</div>
      <div class='gray-dark'>$gray-dark</div>
      <div class='color-light'>$color-light</div>
      <div class='color'>$color</div>
      <div class='color-dark'>$color-dark</div>
      <div class='highlight-light'>$highlight-light</div>
      <div class='highlight'>$highlight</div>
      <div class='highlight-dark'>$highlight-dark</div>
      <div class='alternate-light'>$alternate-light</div>
      <div class='alternate'>$alternate</div>
      <div class='alternate-dark'>$alternate-dark</div>
    </main>
  </section>

  <section class='container swatches'>
    <header>
      <h3>Textures</h3>
    </header>

    <main>
      <div class='noise'>$black</div>
      <div class='white'>$white</div>
      <div class='gray-lighter'>$gray-lighter</div>
    </main>
  </section>
</main>
