
<header>
  {{#link-to 'style-guide.component-patterns'}}
    <h2 class='title'>Component patterns</h2>
  {{/link-to}}

  <p class='description'>You'll need some buttons to trigger actions and forms etc.</p>
</header>

<main>
  <section class="buttons">
    <header>
      <h3>Buttons</h3>
    </header>

    <main>
      <ul class='button-list reset-button-list'>
        <li>
          <button class='reset-button'>button.button</button>
        </li>
        <li>
          <a href='javascript:void(0)' class='reset-button'>a.button</a>
        </li>
        <li>
          <input type='submit' class='reset-button' value='input[type="submit"]'>
        </li>
        <li>
          <input type='reset' class='reset-button' value='input[type="reset"]'>
        </li>
        <li>
          <input type='button' class='reset-button' value='input[type="button"]'>
        </li>
        <li>
          <div class='reset-button'>div.button</div>
        </li>
        <li>
          <a href='javascript:void(0)' role='reset-button'>a[roll='button']</a>
        </li>
      </ul>

      <p class='description'>That should cover the bases... but there is a minor inconsistency with the alignment... div.button and a.button site a px or 2 higher than the others... fix this?</p>

      <ul class='button-list styled-button-list'>
        <li>
          <button class='button'>button.button</button>
        </li>
        <li>
          <a href='javascript:void(0)' class='button'>a.button</a>
        </li>
        <li>
          <input type='submit' class='button' value='input[type="submit"]'>
        </li>
        <li>
          <input type='reset' class='button' value='input[type="reset"]'>
        </li>
        <li>
          <input type='button' class='button' value='input[type="button"]'>
        </li>
        <li>
          <div class='button'>div.button</div>
        </li>
        <li>
          <a href='javascript:void(0)' role='button'>a[roll='button']</a>
        </li>
      </ul>
    </main>
  </section>

  <section>
    <header>
      <h3>Switches</h3>
    </header>

    <ul class='switch-list'>
      <li>
        <button class='switch'>
          {{svg-icon symbol='arrow-circle-up'}}
        </button>
      </li>
      <li>
        <a href='javascript:void(0)' class='switch'>
          {{svg-icon symbol='arrow-circle-down'}}
        </a>
      </li>
{{!--       <li>
        <input type='submit' class='switch' value='input[type="submit"]'>
      </li>
      <li>
        <input type='button' class='switch' value='input[type="button"]'>
      </li> --}}
      <li>
        <div class='switch'>
          {{svg-icon symbol='arrow-circle-up'}}
        </div>
      </li>
      <li>
        <a href='javascript:void(0)' role='switch'>
          {{svg-icon symbol='arrow-circle-down'}}
        </a>
      </li>
    </ul>
  </section>
</main>
