
<li>
  <svg class='icon-x'><use xlink:href='#icon-circle'></use></svg>
</li>
<li>
  <svg class='icon-x color'><use xlink:href='#icon-arrow-circle-up'></use></svg>
</li>
<li>
  <svg class='icon-x gray-dark'><use xlink:href='#icon-arrow-circle-right'></use></svg>
</li>
<li>
  <svg class='icon-x highlight'><use xlink:href='#icon-arrow-circle-down'></use></svg>
</li>
<li>
  <svg class='icon-x alternate-dark'><use xlink:href='#icon-arrow-circle-left'></use></svg>
</li>
<li>
  <svg class='icon-x'><use xlink:href='#icon-search'></use></svg>
</li>
<li>
  <svg class='icon-x'><use xlink:href='#icon-menu'></use></svg>
</li>
<li>
  <svg class='icon-x'><use xlink:href='#icon-ivy-bam'></use></svg>
</li>
