
<li>
  {{svg-icon symbol='circle'}}
</li>
<li>
  {{svg-icon symbol='arrow-circle-up' color='color'}}
</li>
<li>
  {{svg-icon symbol='rotate-to-portrait'}}
</li>
<li>
  {{svg-icon symbol='menu'}}
</li>
