
<header>
  {{#link-to 'style-guide.loading-indicator'}}
    <h2 class='title'>loading-indicators</h2>
  {{/link-to}}
    
  <p class='description'>This is kinda the first thing you see...</p>
</header>

<main>
  <ul class='spinner-list'>
    <li>
      {{loading-indicator class='highlight'}}
    </li>
    <li>
      {{loading-indicator class='light'}}
    </li>
    <li>
      {{loading-indicator class='dark'}}
    </li>
    <li>
      {{loading-indicator class='color'}}
    </li>
  </ul>
</main>
