

<header>
  {{#link-to 'style-guide.spacing-units'}}
    <h2 class='title'>Spacing units</h2>
  {{/link-to}}

  <p class='description'>Site relative spacing and other units. see /_variables</p>
</header>

<main>
  <ul class='unit-list'>
    <li>
      Padding unit: <span class='pad-size'></span> <div class='pad-block'></div>
    </li>
    <li>
      Thin line: <span class='thin-line'></span>
    </li>
    <li>
      Thick line: <span class='thick-line'></span>
    </li>
  </ul>
</main>



