
<header>
  {{#link-to 'style-guide.spacing-units'}}
    <h2 class='title'>Spacing units</h2>
  {{/link-to}}

  <p class='description'>Site relative spacing and other units. see /_variables</p>
</header>

<main>
  <ul class='unit-list'>
    <li class='pad-example'>
      <div>
        Padding unit: <span class='pad-size'></span> <div class='pad-block'></div>
      </div>
    </li>
    <li class='thin-line'>
      Thin line: <span class='thin-line-size'></span>
    </li>
    <li class='thick-line'>
      Thick line: <span class='thick-line-size'></span>
    </li>
  </ul>
  <p class='description'>The $pad unit is also used for margins like the margin-bottom between these 3 examples. $pad*2 or $pad*.5 etc. as well. One of the few things about stylus that doesn't feel intuitive, is that you can't divide variables as you might expect. $pad/2 is a no go unless you put parenthesis around it. ($pad/2) - but I generally deal with this by multiplying by a decimal. $pad*.5</p>
</main>
