
<header>
  {{#link-to 'style-guide.styled-lists'}}
    <h2 class='title'>Styled lists</h2>
  {{/link-to}}

  <p class='description'>How will we deal with these on mobile, as far as nesting etc.</p>
  <p>By default, lists have their styles stripped. Fancier lists with custom counters and psuedo elements aren't going to be covered here because they are so specific to each project. For now, I'll just have a basic styled list here.</p>
</header>

<main>

  <ul>
    <li>
      This is an unordered list
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt</li>
        <li>
          jkljkljkl
          <ul>
            <li>something something</li>
            <li>something something</li>
            <li>something something</li>
            <li>something something</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <ol>
    <li>
      This is an ordered list
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt</li>
        <li>
          jkljkljkl
          <ol>
            <li>something something</li>
            <li>something something</li>
            <li>something something</li>
            <li>something something</li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>

</main>
