
<header>
  {{#link-to 'style-guide.type-voice'}}
    <h2 class='title'>Type voice</h2>
  {{/link-to}}

  <p class='description'>Even if you have a default standard font, readability is core to the internet</p>
</header>

<main>
  <article>
    <div class='whisper'>Whisper is for copy like legal tid-bits and things that are least important</div>
    <div class='quiet'>Quite is for "small" or subdued copy</div>
    <div class='standard-type'>Standard type for paragraphs and anything that falls through the cracks</div>
    <div class='statement'>Statement text is short and to the point</div>
    <div class='calm-voice'>Calm voice is for quotes and relaxed attempts to grab attention</div>
    <div class='voice'>Voice is the steady clear type to get points accross</div>
    <div class='strong-voice'>Stong voice is for impactful statements</div>
    <div class='relaxed-action'>Relaxed action can be used for links that are, well, relaxed</div>
  </article>
</main>
