
// $color
$black = #111
$white = #efefef

$gray         = lighten($black, 50%) 
$gray-light   = lighten($gray, 50%)
$gray-dark    = darken($gray, 50%)
$gray-lighter = lighten($gray-light, 50%)

// variations
// $gray-light     = tint($gray, 50%)
// $gray-dark      = shade($gray, 50%)

$color       = #E46652
$color-light = lighten($color, 25%)
$color-dark  = darken($color, 25%)

$highlight       = #78CEC8
$highlight-light = lighten($highlight, 25%)
$highlight-dark  = darken($highlight, 25%)

$alternate       = #F8E7CF
$alternate-light = lighten($alternate, 25%)
$alternate-dark  = darken($alternate, 25%)

// $spacing units
$pad    = .6rem
$gutter = $pad

// $borders and lines
$thin  = 1px
$thick = 3px
