
{{#section-container name='color-pallet'}}

  <h1>color-pallet</h1>

  <section class='swatches'>
    <div class='black'>$black</div>
    <div class='white'>$white</div>
    <div class='gray-lighter'>$gray-lighter</div>
    <div class='gray-light'>$gray-light</div>
    <div class='gray'>$gray</div>
    <div class='gray-dark'>$gray-dark</div>
    <div class='color-light'>$color-light</div>
    <div class='color'>$color</div>
    <div class='color-dark'>$color-dark</div>
    <div class='highlight-light'>$highlight-light</div>
    <div class='highlight'>$highlight</div>
    <div class='highlight-dark'>$highlight-dark</div>
    <div class='alternate-light'>$alternate-light</div>
    <div class='alternate'>$alternate</div>
    <div class='alternate-dark'>$alternate-dark</div>
  </section>

{{/section-container}}
