
{{#section-container name='loading-indicator'}}

  <h1>Style guide</h1>

{{/section-container}}



{{#section-container name=''}}

  {{#link-to 'style-guide.loading-indicator'}}
    <h2>loading-indicator</h2>
  {{/link-to}}
  
  {{loading-indicator}}

{{/section-container}}



{{#section-container name='color-pallet'}}

  {{#link-to 'style-guide.color-pallet'}}
    <h2>color-pallet</h2>
  {{/link-to}}
  
  <section class='container swatches'>
    <div class='black'>$black</div>
    <div class='white'>$white</div>
    <div class='gray-lighter'>$gray-lighter</div>
    <div class='gray-light'>$gray-light</div>
    <div class='gray'>$gray</div>
    <div class='gray-dark'>$gray-dark</div>
    <div class='color-light'>$color-light</div>
    <div class='color'>$color</div>
    <div class='color-dark'>$color-dark</div>
    <div class='highlight-light'>$highlight-light</div>
    <div class='highlight'>$highlight</div>
    <div class='highlight-dark'>$highlight-dark</div>
    <div class='alternate-light'>$alternate-light</div>
    <div class='alternate'>$alternate</div>
    <div class='alternate-dark'>$alternate-dark</div>
  </section>  

{{/section-container}}



{{#section-container name='loading'}}

  {{#link-to 'style-guide.loading-indicator'}}
    <h2>Another section</h2>
  {{/link-to}}

{{/section-container}}
