
html
  user-select: none
  -webkit-tap-highlight-color: transparent
  // https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color
  *
    user-select: inherit
    -webkit-tap-highlight-color: inherit

input[type='text'], input[type='password'], textarea
  user-select: text
