
<h3>Welcome to the Lists page</h3>

<p>Hello there... This is /some-lists/index</p>

<p>Even if you don't create one... there is already an index. I'm not sure it's purpose / but there are a few things that are supposed to be helpful / and maybe they aren't?</p>

<p>You'll notice that it doesn't show up in the router... even though I explictly created it.</p>
