
<h2 class='page-title'>SOME LISTS</h2>

<nav class="routes sub">
	<ul class='item-list'>
		<li class='item'>
			{{link-to 'people' 'some-lists.people'}}
		</li>

		<li class='item'>
			{{link-to 'things' 'some-lists.things'}}
		</li>
	</ul>
</nav>

<div class='outlet'>
	{{outlet}}
</div>
