
<header>
  <h1>Style-guide</h1>
</header>



<section class='loading'>
  <h2>loading-indicator</h2>
  {{loading-indicator}}
</section>



<section class='colors'>
  <h2>Section name</h2>
  
</section>



<section class='colors'>
  <h2>Section name</h2>
  
</section>



{{outlet}}
