
<h2 class='page-title'>WELCOME! </h2>

<ExampleComponent @title='Block example'>
	<p>And another thing... take note of how these components each have their own values and state</p>
</ExampleComponent>
