// $reset defaults
html  
  box-sizing: border-box
  *, *:before, *:after
    box-sizing: inherit
    // set box model:
    // https://www.paulirish.com/2012/box-sizing-border-box-ftw/

a
  color: inherit
  text-decoration: none
  //
  display: block

figure
	display: block
	img
		display: block
		width: 100%
		height: auto